<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
  <appSettings>
    <!--******************EMQ服务器********************-->
    <!--MQTT服务器连接地址-->
    <add key="MqttUrl" value="47.101.70.162"/>
    <!--MQTT连接端口-->
    <add key="MqttPort" value="1883"/>
    <!--MQTT服务器用户名-->
    <add key="MqttUserName" value="admin"/>
    <!--MQTT服务器密码-->
    <add key="MqttPassWord" value="RjParking"/>
    <!--******************本地服务器********************-->
    <!--MQTT服务器连接地址-->
    <add key="local_MqttUrl" value="127.0.0.1"/>
    <!--MQTT服务器用户名-->
    <add key="local_MqttUserName" value="admin"/>
    <!--MQTT服务器密码-->
    <add key="local_MqttPassWord" value="public"/>
  </appSettings>
</configuration>
